/*basic selecters*/
body
{
    background-color: ivory;
}
h3
{
    background-color: lightblue;
}
table,tr,th
{
    
}
.tc
{
    background-color: ghostwhite;text-align: center;border: 2px solid black;
}
#r
{
    padd
}